<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268474549120-6glrb1jfrfems1oghh7pqfn53prnmeff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268474549120-6glrb1jfrfems1oghh7pqfn53prnmeff</string>
	<key>API_KEY</key>
	<string>AIzaSyAXD2LZBanY4IbBaM9EaS1gAobaSPql-AU</string>
	<key>GCM_SENDER_ID</key>
	<string>268474549120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>untitled-3b133</string>
	<key>STORAGE_BUCKET</key>
	<string>untitled-3b133.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268474549120:ios:80bd658e16e73c9655b765</string>
</dict>
</plist>